@import "../../../assets/scss/variables";

.tags {
  position: relative;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;

    &--item {
      display: inline-block;
      margin-bottom: 0;
    }

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 16px;
      background-color: $color-tag-bg;
      text-decoration: none;
      border-radius: 100px;
      color: $color-base;
      font-size: 14px;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
}