.wrap {
  background: linear-gradient(#319aee 20%, #fff);
}
.content {
  margin: 0 auto;
  padding: 10rem 0;
  max-width: 64rem;

  h1 {
    margin: 0;
    font-size: 5rem;
  }
  h2 {
    margin-top: 4rem;
    font-size: 3rem;
  }
  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  section {
    padding: 0 2rem;
  }
  .big-paragraph {
    font-size: 2rem;
  }
  .project {
    padding-bottom: 3rem;
    p {
      margin: 1rem 0;
    }
  }
  .other {
    padding: 3rem 0;
    border-bottom: 1px dashed #eee;
  }
}
.row {
  display: flex;
  padding: 3rem 0;
  border-bottom: 1px dashed #eee;

  &-left {
    flex-basis: 18rem;
    flex-shrink: 0;
    padding-right: 1rem;
  }
  &-right {

  }
}
.role {
  display: block;
}

@media screen and (max-width: 960px) {
  .content {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    .big-paragraph {
      font-size: 1.5rem;
    }
  }
  .row {
    flex-direction: column;

    &-left {
      flex-basis: 100%;
      margin-bottom: 1rem;
    }
  }
}
